body
{
	margin: 0;
	padding: 0;
}
.box
{
	position: absolute;
	width: 100%;
	height: 100%;

	cursor: url(got.png), pointer;
}
.Estilo1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;

	}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;

	}
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #990000;
	}
.texto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	}

a:visited {
	text-decoration: none;
	color: #CC0000;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;


}
a:active {
	text-decoration: none;
	color: #FFFFFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.Estilo1Negativo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11
	px;
	font-style: italic;
	color: #000000;

}
